<header class="site-header">

  <h1 class="site-title"><a href="{{ site.baseurl }}/"><img src="../assets/images/bookball-logo.png" alt="{{ site.title }}" /></a></h1>

  <nav class="site-nav">
    <ul>
      {% assign current_url = page.url %}
      {% for page in site.pages %}
        {% if page.title %}
        <li><a class="page-link{% if page.url == current_url %} selected{% endif %}" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  
</header>
