.icon-bitbasement-black { background-image: url('png/bitbasement-black.png'); background-repeat: no-repeat; }

.icon-bitbasement-white { background-image: url('png/bitbasement-white.png'); background-repeat: no-repeat; }

.icon-close-black { background-image: url('png/close-black.png'); background-repeat: no-repeat; }

.icon-close-white { background-image: url('png/close-white.png'); background-repeat: no-repeat; }

.icon-facebook-black { background-image: url('png/facebook-black.png'); background-repeat: no-repeat; }

.icon-facebook-white { background-image: url('png/facebook-white.png'); background-repeat: no-repeat; }

.icon-instagram-black { background-image: url('png/instagram-black.png'); background-repeat: no-repeat; }

.icon-instagram-white { background-image: url('png/instagram-white.png'); background-repeat: no-repeat; }

.icon-menu-black { background-image: url('png/menu-black.png'); background-repeat: no-repeat; }

.icon-menu-white { background-image: url('png/menu-white.png'); background-repeat: no-repeat; }

.icon-twitter-black { background-image: url('png/twitter-black.png'); background-repeat: no-repeat; }

.icon-twitter-white { background-image: url('png/twitter-white.png'); background-repeat: no-repeat; }

